rootDirectory: app
rootNamespace: App

command:
	namespace: App\Commands
	parent: Symfony\Component\Console\Command\Command

control:
	namespace: App\Controls
	controlParent: Nette\Application\UI\Control
	factoryParent:

orm:
	namespace: App\Model\Orm
	entityParent: Nextras\Orm\Entity\Entity
	repositoryParent: Nextras\Orm\Repository\Repository
	mapperParent: Nextras\Orm\Mapper\Mapper

presenter:
	namespace: App\Presenters
	parent: Nette\Application\UI\Presenter
